body {
  margin: 0;
  padding: 0;
  font-family: "Helvetical Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

@media only screen and (min-width: 64rem) {
  html {
    font-size: 1.25rem;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
